In [7]:
import numpy as np
import pandas as pd
import scipy.stats as stats

import matplotlib.pyplot as plt
%matplotlib inline
import math

import os

cwd = os.getcwd()  
print(cwd)

C:\Users\hp\Desktop\MyProjects

In [20]:
cust=pd.read_excel("C:\\Users\\hp\\Desktop\\MyProjects\\input1.xlsx")
cust.head(5)
# cust.shape

   CustID  Gender  spending
0       1       1        18
1       2       2        54
2       3       2        30
3       4       1        78
4       5       2        14

In [21]:
cust.columns

Index(['CustID', 'Gender', 'spending'], dtype='object')

In [22]:
Males_spend = cust.spending[cust.Gender==1]
FeMales_spend = cust.spending[cust.Gender==2]

In [23]:
print (FeMales_spend.head(3))
print (Males_spend.head(3))

1    54
2    30
4    14
Name: spending, dtype: int64
0     18
3     78
11    47
Name: spending, dtype: int64

In [24]:
print (Males_spend.mean())
print (FeMales_spend.mean())

32.575
28.13953488372093

In [25]:
stats.ttest_ind(a= Males_spend,
                b= FeMales_spend,
                equal_var=False)    # Assume samples have equal variance?

Ttest_indResult(statistic=1.672994110687672, pvalue=0.09849604776250198)

In [26]:
stats.ttest_ind(a= Males_spend,
                b= FeMales_spend,
                equal_var=True)    # Assume samples have equal variance?

Ttest_indResult(statistic=1.6860134034273309, pvalue=0.09564177966526306)