In [42]:
import numpy as np
import pandas as pd
import scipy.stats as stats

import matplotlib.pyplot as plt
%matplotlib inline
import math

import os

cwd = os.getcwd()  
print(cwd)

C:\Users\hp\Desktop\MyProjects

In [43]:
cust=pd.read_excel("C:\\Users\\hp\\Desktop\\MyProjects\\input2.xlsx")
cust.head(5)
# cust.shape

   CustID  Gender  spending_before_marriage  spending_after_marriage
0       1       1                        18                       25
1       2       2                        54                       23
2       3       2                        30                       15
3       4       1                        78                       38
4       5       2                        14                       48

In [44]:
cust.columns

Index(['CustID', 'Gender', 'spending_before_marriage',
       'spending_after_marriage'],
      dtype='object')

In [46]:
from scipy.stats import ttest_ind
# ttest_ind(cust.Gender[cust.Gender == 1],cust.Gender[cust.Gender == 2], equal_var=True)
# stats.ttest_rel(a=cust.spending before marriage,
#                 b=cust.spending after marriage) 
stats.ttest_ind(a= cust.spending_before_marriage,
                b= cust.spending_after_marriage,
                equal_var=False)
# cust.columns
# stats.ttest_ind(a= Males_spend,
#                 b= FeMales_spend,
#                 equal_var=False)

Ttest_indResult(statistic=-0.14343077039114818, pvalue=0.8861262772465583)

In [47]:
stats.ttest_ind(a= cust.spending_before_marriage,
                b= cust.spending_after_marriage,
                equal_var=True)

Ttest_indResult(statistic=-0.14343077039114818, pvalue=0.8861260656647514)